<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118645632-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-118645632-1');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Code Assist</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,300i,400,400i,700" rel="stylesheet">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/dashboard.css">
  </head>
  <body>

    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light pt-3">
        <a class="navbar-brand" href="/">
          Code Assist
        </a>

        <button class="navbar-toggler text-dark" data-toggle="collapse" data-target=".navbarMenu">
          <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse navbarMenu pl-5">
          <ul class="navbar-nav ml-auto">
            {{#if user}}
              <li class="nav-item px-3">
                <a href="/dashboard" class="nav-link">
                  <i class="fas fa-tachometer-alt d-xl-inline d-md-inline d-lg-none"></i> Dashboard
                </a>
              </li>
            {{else}}
              <li class="nav-item px-3">
                <a href="/community" class="nav-link">
                  <i class="fas fa-people-carry d-xl-inline d-md-inline d-lg-none"></i> Community
                </a>
              </li>
            {{/if}}

            <!-- <li class="nav-item px-3">
              <a href="/blog" class="nav-link">
                <i class="far fa-newspaper d-xl-inline d-md-inline d-lg-none"></i> Blog
              </a>
            </li> -->

            <li class="nav-item px-3">
              <a href="/projects" class="nav-link">
                <i class="fas fa-project-diagram d-xl-inline d-md-inline d-lg-none"></i> Projects
              </a>
            </li>

            <li class="nav-item px-3">
              <a href="/contact" class="nav-link special">
                <i class="fas fa-envelope-open d-xl-inline d-md-inline d-lg-none"></i> Contact Us
              </a>
            </li>
          </ul>
        </div>

        <div class="collapse navbar-collapse navbarMenu">
          <ul class="navbar-nav ml-auto">
            {{#if user}}
              <!-- <li class="nav-item px-3" {{#if hideGoPremiumBtn}}style="visibility: hidden;"{{/if}}>
                <a href="/plans" class="btn btn-primary">
                  <i class="fas fa-crown text-warning"></i> Go Premium
                </a>
              </li> -->

              <li class="nav-item px-3">
                <a href="/account" class="nav-link special">
                  <i class="far fa-user"></i> {{user.username}}
                </a>
              </li>

              <li class="nav-item px-3">
                <a href="/logout" class="nav-link special">
                  <i class="fas fa-sign-out-alt"></i> Log Out
                </a>
              </li>
            {{else}}
              <li class="nav-item px-2">
                <a href="/register" class="nav-link special">
                  <i class="fas fa-user-plus"></i> Join
                </a>
              </li>

              <li class="nav-item px-2">
                <a href="/login" class="nav-link special">
                  <i class="fas fa-sign-in-alt"></i> Sign In
                </a>
              </li>
            {{/if}}
          </ul>
        </div>
      </nav>
    </div>
    <hr style="margin: 0; background-color: rgba(255, 255, 255, 0.5);">

    {{{body}}}

    <div class="site-footer container jumbotron text-center d-none d-sm-block bg-white">
      <a href="/"><h3 class="text-dark">Code Assist</h3></a>
      <hr>
      <div class="footerLinks row">
        <div class="col-5">
          <p class="footerHeader">Company</p>
          <p><a href="/contact" class="footerLink">Contact Us</a></p>
          <p><a href="/team" class="footerLink">The Team</a></p>
        </div>
        <div class="socialMediaIcons col-2">
          <a href="https://www.linkedin.com/company/codeassist"><i class="fab fa-linkedin"></i></a>
          <i class="fab fa-twitter text-primary"></i>
          <i class="fab fa-instagram text-primary"></i>
        </div>
        <div class="col-5">
          <p class="footerHeader">Code Assist</p>
          <p><a href="/community" class="footerLink">Community</a></p>
          <p><a href="/dashboard" class="footerLink">Dashboard</a></p>
          <p><a href="/projects" class="footerLink">Projects</a></p>
        </div>
      </div>

      <div class="mt-4">Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    </div>

    <div class="site-footer container jumbotron text-center d-sm-none rounded-0 bg-white">
      <a href="/"><h3 class="text-dark">Code Assist</h3></a>
      <hr>
      <div class="footerLinks row">
        <div class="col-5">
          <p class="footerHeader">Company</p>
          <p><a href="/contact" class="footerLink">Contact Us</a></p>
          <p><a href="/team" class="footerLink">The Team</a></p>
        </div>
        <div class="socialMediaIcons col-2">
          <a href="https://www.linkedin.com/company/codeassist"><i class="fab fa-linkedin"></i></a>
          <i class="fab fa-twitter text-primary"></i>
          <i class="fab fa-instagram text-primary"></i>
        </div>
        <div class="col-5">
          <p class="footerHeader">Code Assist</p>
          <p><a href="/community" class="footerLink">Community</a></p>
          <p><a href="/dashboard" class="footerLink">Dashboard</a></p>
          <p><a href="/projects" class="footerLink">Projects</a></p>
        </div>
      </div>

      <div class="mt-2 mb-5 pb-5">Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    </div>

    <div id="feedback-floating-btn" onclick="relocateFeedback()">
      <i class="fas fa-bullhorn"></i>
      <span><strong> Feedback</strong></span>
    </div>
    <script type="text/javascript">
      function relocateFeedback() {
        window.location.replace('http://' + window.location.host + '/contact');
      }
    </script>
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.2.0/js/all.js" integrity="sha384-4oV5EgaV02iISL2ban6c/RmotsABqE4yZxZLcYMAdG7FAPsyHYAPpywE9PJo+Khy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.slim.js"></script>
    <script>
    //Notification Reciever
    $( document ).ready(function() {
        var socket = io("/Notify{{user._id}}");
        console.log(socket);
        socket.on("notify",function(message){
          alert(message);
        });
      });
    </script>
  </body>
</html>
