{{!-- Edit profile picture modal --}}
<div id="profilePicModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Upload New Profile Picture</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{!-- <input type="file" id="picUpload" accept='image/*'> --}}
        <button class="btn btn-primary" id="browse">Choose Picture...</button>
        <p id="fileInfo" class="ml-2 d-inline-block"></p>
      </div>
      <div class="modal-footer">
        <img id="loadingWheel" src="/images/loadingwheel.gif" style="width: 30px; display: none;">
        <button id="saveProfilePic" type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-sm-5 text-center">
      {{!-- <img id="userPic" src="{{user.pic}}" alt="" width="50%;" class="text-center" style="border-radius: 10px;"> --}}
      <div id="userPic" class="profile-pic" style="background-image: url({{user.pic}});" class="text-center" style="border-radius: 10px;"></div>
      <div>
        <button data-toggle="modal" data-target="#profilePicModal" class="btn btn-outline-info mt-2"><i class="fas fa-edit"></i> Edit Profile Picture</button>
        <p class="lead my-3">Welcome <strong>{{user.username}}</strong></p>
      </div>
    </div>

    <div class="col-sm-7 float-left">
      {{#each error.msg}}
        <div style="margin-bottom: 2rem;" class="alert alert-danger">
          {{this}}
        </div>
      {{/each}}

      {{#each success.msg}}
        <div class="alert alert-success" role="alert">
          {{this}}
        </div>
      {{/each}}

      <div class="container mb-5">
        <h1>Account</h1>
        <hr>

        <div class="form-group">
          <form>
            <div class="row">
              <div class="col mb-2">
                <label for="#last-name"><strong>First</strong></label>
                <input id="first-name" type="text" class="form-control" placeholder="First name" value="{{user.first}}">
              </div>
              <div class="col mb-2">
                <label for="#last-name"><strong>Last</strong></label>
                <input id="last-name" type="text" class="form-control" placeholder="Last name" value="{{user.last}}">
              </div>
            </div>
          </form>
        </div>

        <div class="form-group">
          <label for="#usernameInput"><strong>Username</strong></label>
          <input id="usernameInput" type="text" class="form-control" value="{{user.username}}" aria-label="Username" aria-describedby="basic-addon1">
        </div>

        <div class="form-group">
          <label for="#email-choose"><strong>Email</strong></label>
          <input type="text" class="form-control mb-2" id="emailInput" value="{{user.email}}">
          <input id="email-checkbox" type="checkbox" aria-label="Checkbox for following text input" checked>
          <label for="#email-checkbox" class="text-muted" style="font-size: 14px;">Stay on top of Code Assist email Updates and Notifications!</label>
        </div>
      </div>

      <div class="container mb-5">
        <h1>Change Password</h1>
        <hr>

        <div class="form-group">
          <label for="#oldPass"><strong>Old Password</strong></label>
          <input class="form-control" type="password" name="oldPass" value="">
        </div>

        <div class="form-group">
          <label for="#newPass"><strong>New Password</strong></label>
          <input class="form-control" type="password" name="newPass" value="">
        </div>

        <div class="form-group">
          <label for="#confPass"><strong>Confirm Password</strong></label>
          <input class="form-control" type="password" name="confPass" value="">
        </div>
      </div>

      <div class="container mb-5">
        <h1 class="text-danger">Danger Zone</h1>
        <hr>

        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <label for="#deleteAccount"><p><strong>Remove Account</strong></p></label>
              <p>This action will remove all account data including all Community Posts, Mentor Posts and Shared Projects.</p>
            </div>

            <div class="col-md-6 text-right">
              <button id="deleteAccount" class="btn btn-outline-danger btn-lg d-none d-lg-block">Delete Account</button>

              <button id="deleteAccount" class="btn btn-outline-danger btn-block btn-lg d-lg-none">Delete Account</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<script type="text/javascript" src="/js/plupload.full.min.js"></script>
<script type="text/javascript" src="/js/account.js"></script>
