{{!-- Edit profile picture modal --}}
<div id="profilePicModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Upload New Profile Picture</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{!-- <input type="file" id="picUpload" accept='image/*'> --}}
        <button class="btn btn-primary" id="browse">Choose Picture...</button>
        <p id="fileInfo" class="ml-2 d-inline-block"></p>
      </div>
      <div class="modal-footer">
        <img id="loadingWheel" src="/images/loadingwheel.gif" style="width: 30px; display: none;">
        <button id="saveProfilePic" type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-sm-5 text-center">
      {{!-- <img id="userPic" src="{{user.pic}}" alt="" width="50%;" class="text-center" style="border-radius: 10px;"> --}}
      <div id="userPic" class="profile-pic" style="background-image: url({{user.pic}});" class="text-center" style="border-radius: 10px;"></div>
      <div>
        <button data-toggle="modal" data-target="#profilePicModal" class="btn btn-outline-info mt-2"><i class="fas fa-edit"></i> Edit Profile Picture</button>
        <p class="lead my-4">Welcome <strong>{{user.username}}</strong></p>
        <a href="/users/profile/{{user.id}}" style="text-decoration: none;"><button type="button" name="button" class="btn btn-dark btn-block w-75 mx-auto btn-lg mb-5 py-3"><i class="far fa-eye"></i> View Profile</button></a>
      </div>
    </div>

    <div class="col-sm-7 float-left">

      <div class="container mb-5">
        <h1>Account</h1>
        <hr>

        <div class="form-group">
          <form>
            <div class="row">
              <div class="col mb-2">
                <label for="#last-name"><strong>First</strong></label>
                <input id="first-name" maxlength="20" type="text" class="form-control {{#if user.first}}{{else}}is-invalid{{/if}}" placeholder="First name" value="{{user.first}}">
                <div class="invalid-feedback">
                  First name is required.
                </div>
              </div>
              <div class="col mb-2">
                <label for="#last-name"><strong>Last</strong></label>
                <input id="last-name" maxlength="20" type="text" class="form-control {{#if user.last}}{{else}}is-invalid{{/if}}" placeholder="Last name" value="{{user.last}}">
                <div class="invalid-feedback">
                  Last name is required.
                </div>
              </div>
            </div>
            <span class="text-muted" style="font-size: 14px;"><i class="fas fa-info-circle"></i> We take security very seriously. This information helps keep you safe.</span>
          </form>
        </div>

        <div class="form-group">
          <label for="#usernameInput"><strong>Username</strong></label>
          <input id="usernameInput" maxlength="30" type="text" class="form-control" value="{{user.username}}" aria-label="Username" aria-describedby="basic-addon1">
          <div class="invalid-feedback">
            Last name is required.
          </div>
        </div>

        <div class="form-group">
          <label for="#email-choose"><strong>Email</strong></label>
          <input type="text" class="form-control mb-2" id="emailInput" value="{{user.email}}">
          <div class="invalid-feedback">
            Email is required.
          </div>
          <input id="email-checkbox" type="checkbox" aria-label="Checkbox for following text input" checked>
          <label for="#email-checkbox" class="text-muted" style="font-size: 14px;">Stay on top of Code Assist email Updates and Notifications!</label>
        </div>

        <div class="form-group">
          <label><strong>Bio</strong></label>

          <textarea class="form-control" id="bio-textarea" rows="3" maxlength="120" placeholder="Tell your friends a little bit about yourself ...">{{user.bio}}</textarea>
          <div class="invalid-feedback">

          </div>

          <div class="valid-feedback">
            Changes saved.
          </div>

          <p class="text-info"><i class="fas fa-info-circle"></i> <strong>Pro tip</strong>: A good bio helps you connect with more people</p>

        </div>
      </div>

      <form action="password-change" method="post">
        <div class="container mb-5">
          <h1>Change Password</h1>
          <hr>
          {{#each error.msg}}
          <div style="margin-bottom: 2rem;" class="alert alert-danger alert-dismissible fade show">
            {{this}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {{/each}}

          {{#each success.msg}}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{this}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {{/each}}

          <div class="form-group">
            <label for="#oldPass"><strong>Old Password</strong></label>
            <input class="form-control" type="password" name="oldPass" value="" {{#if error}}autofocus {{else if success}}autofocus {{/if}}>
          </div>

          <div class="form-group">
            <label for="#newPass"><strong>New Password</strong></label>
            <input class="form-control" type="password" name="newPass" value="">
          </div>

          <div class="form-group">
            <label for="#confPass"><strong>Confirm Password</strong></label>
            <input class="form-control" type="password" name="confPass" value="">
          </div>

          <button class="btn btn-outline-primary btn-block btn-lg text-center" type="submit" name="button">Change my password</button>
        </div>
      </form>

      <div class="container mb-5">
        <h1 class="text-danger">Danger Zone</h1>
        <hr>

        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <label for="#deleteAccount"><p><strong>Remove Account</strong></p></label>
              <p>This action will remove all account data including all Community Posts, Mentor Posts and Shared Projects.</p>
            </div>

            <div class="col-md-6 text-right">
              <button class="deleteAccount btn btn-outline-danger btn-lg d-none d-lg-block" data-toggle="modal" data-target="#delete-account-warning">Delete Account</button>

              <button class="deleteAccount btn btn-outline-danger btn-block btn-lg d-lg-none" data-toggle="modal" data-target="#delete-account-warning">Delete Account</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="delete-account-warning" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel"><strong class="text-danger">Watch out!</strong></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-muted">
        <!-- <div class="alert alert-info" role="alert">
          <a href="#"><strong>Pro tip!</strong></a> Having a description increases the chances of your question being answered by the community!
        </div> -->
        <p>If you are experiencing issues, please feel free to <a href="/contact">Contact Us</a></p>
        <p class="text-muted">This will delete all data associated with your account including, but not limited to:</p>
        <ul>
          <li>Community and Mentor Posts</li>
          <li>Saved Projects</li>
          <li>Likes, connections and other meta data</li>
        </ul>
        <strong>🙁 We are sorry to see you go. Do you really want to DELETE your account?</strong>
      </div>
      <div class="modal-footer text-right d-none d-md-block">
        <button id="no-description-submit" type="button" class="btn btn-primary" data-dismiss="modal">Cancel. Why would I do that?</button>

        <button type="button" class="btn btn-outline-danger confirm-delete-account" data-dismiss="modal">Delete Account</button>
      </div>

      <div class="modal-footer text-right d-md-none">
        <button id="no-description-submit" type="button" class="btn btn-primary btn-block" data-dismiss="modal">Cancel</button>

        <button type="button" class="btn btn-outline-danger btn-block confirm-delete-account" data-dismiss="modal">Delete Account</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="/js/plupload.full.min.js"></script>
<script type="text/javascript" src="/js/account.js"></script>
