<body>
  <div class="jumbotron text-center">
    <h1>Profile</h1>
  </div>

  <div class="container" id="account-body">
    <div class="row">
      <div class="col-xs-3 float-left">
        <span class="glyphicon glyphicon-user"></span>
        <div id="profile-description">
          <div id="username">
            <strong>Username</strong>: {{user.username}}
          </div>

        </div>
      </div>

      <div class="col-xs-9 float-left">
        <div class="jumbotron">
          {{#each error.msg}}
            <div style="margin-bottom: 2rem;" class="alert alert-danger">
              {{this}}
            </div>
          {{/each}}

          {{#each success.msg}}
            <div class="alert alert-success" role="alert">
              {{this}}
            </div>
          {{/each}}

          <div class="container-fluid">
            <div class="row">
              <div class="col-md-3 float-left" id="labels">
                <label for="#usernameInput">Username</label>
                <span id="user-status"></span>
              </div>

              <div class="col-md-6 float-left" id="inputs">
                <input type="text" class="form-control" id="usernameInput" value="{{user.username}}">
              </div>

            </div>

            <div class="row">
              <div class="col-md-3 float-left" id="labels">
                <label for="#email-choose">Email</label>
                <span id="email-status"></span>
              </div>

              <div class="col-md-6 float-left" id="inputs">
                <input type="text" class="form-control" id="emailInput" value="{{user.email}}">
              </div>
            </div>

            <!-- <div class="row">
              <div class="col-md-2 float-left" id="labels">
                <label for="#courses">CS Courses:</label>
              </div>

              <div class="col-md-6 float-left" id="inputs">
                <div class="form-inline">
                  <input class="form-control" type="text" id="courses">
                  <button class="btn btn-primary" type="button" name="button">Add CS Courses</button>
                </div>
              </div>
            </div> -->
            <form action="/password-change" method="post">

              <div class="row">
                <div class="col-md-3 float-left" id="labels">
                  <label for=".changePassword">Change Password</label>
                </div>

                <div class="col-md-6 float-left" id="inputs" class="changePassword">
                  <label for="#oldPass">Old Password</label>
                  <input class="form-control" type="password" name="oldPass" value="">

                  <label for="#newPass">New Password</label>
                  <input class="form-control" type="password" name="newPass" value="">

                  <label for="#confPass">Old Password</label>
                  <input class="form-control" type="password" name="confPass" value="">

                  <button id="changePassword" class="btn btn-danger" type="submit" name="changePassword">Change Password</button>
                </div>
              </div>
            </form>


          </div>
        </div>
      </div>

    </div>

  </div>
  <script type="text/javascript" src="/js/account.js"></script>
</body>
