<div id="status" hidden>{{project.status}}</div> <!-- Project status one of: new, using, unused -->

<div id="code-editor">
	<div id="topBar">
		<label class="btn btn-primary mb-0">
			Upload File<input type="file" accept=".java,.py,.dat,.txt" hidden>
		</label>
		<button id="newFileBtn" class="btn btn-primary">New File</button>
	</div>
	<ul class="nav nav-tabs" id="fileTabs">

	</ul>

	<div id="editor"></div>

	<textarea id="output" readonly autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></textarea>
	<form id="programInputForm">
		<input disabled id="programInput" type="text" autocomplete="off">
	</form>
	<div id="buttons">
		<button class="btn btn-primary" id="run">Run</button>
		<img id="loadingWheel" src="/codehat/images/spinner.gif" style="display: none;">
	</div>
</div>


<!-- Settings Section -->
<!-- <i id="close-settings" class="far fa-times-circle"></i> -->
<div id="settings" class="hide">
	<div id="box" class="mx-auto p-5" style="max-width: 1100px;">
		<div id="sharing" class="mb-5">

			<h1 class="title mb-4" style="font-weight: 200;">Invite Members to<input id="change-project-name" type="text" class="form-control" value="{{project.name}}" style="
				    display: inline;
				    vertical-align: baseline;
				    font-weight: 400;
						width: auto;
						font-size: inherit;
						border: none;
						width: 250px;
			" required>
			<span class="text-secondary lead" style="
			font-size: 1rem;
			">
			(Click to Change)</span></h1>

			<hr>
			<div class="container">
				<form id="share-project" novalidate>
					<div class="form-group">
						<div class="row">

							<div class="col-sm-10 offset-sm-1">
								<label for="exampleInputEmail1" style="font-weight: bold;">Email address</label>
							</div>
						</div>

						<div class="row mb-2">
							<div class="col-sm-10 offset-sm-1">
								<input id="exampleInputEmail1" type="email" class="form-control" name="emailInput" aria-describedby="emailHelp" placeholder="Enter email" required>
								<div class="text-danger invalid-feedback">
				          Member with this email could not be found
				        </div>
							</div>
						</div>

						<div id="send-options" class="row">
							<div class="col-sm-3 offset-sm-1">
								<div id="add-more-emails"><i class="fas fa-plus-circle"></i> Add More</div>
							</div>

							<div class="col-sm-7">
								<button class="btn btn-success ml-auto" type="submit" name="button" style="display: block !important;">Send Invitations</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>

		<!-- <div id="members"> -->
			<h1 style="font-weight: 200;">Members with Access</h1>
			<hr>
			<div class="container">
				<table class="mx-auto table table-hover" style="overflow-y: scroll; width: 82%;">
					<!-- <thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">First</th>
							<th scope="col">Last</th>
							<th scope="col">Handle</th>
						</tr>
					</thead> -->
					<tbody>
						{{#if isowner}}
							<tr class="table-info">
								<td>{{owner.username}}</td>
								<td>
									<p class="text-right">Owner</p>
								</td>
								<td class="text-right">
									<button type="button" class="btn btn-warning">Transfer Ownership</button>
								</td>
							</tr>
						{{else}}
							<tr class="table-info">
								<td>{{owner.username}}</td>
								<td>
									<p class="text-right">Owner</p>
								</td>
								<td>
								</td>
							</tr>
						{{/if}}

						{{#each users}}
						<tr>
							<td style="width: 33.33%">{{this.username}}</td>
							<td style="width: 33.33%">
								<select class="custom-select" id="inlineFormCustomSelect">
									<option selected>Choose...</option>
									<option value="1">One</option>
									<option value="2">Two</option>
									<option value="3">Three</option>
								</select>
							</td>
							<td class="text-right" style="width: 33.33%">
								<button class="btn btn-danger" type="button" name="button">Delete User</button>

							</td>
						</tr>
						{{/each}}

						<!-- <tr>
							<td>Jacob</td>
							<td>Thornton</td>
							<td>@fat</td>
						</tr>
						<tr>
							<td colspan="2">Larry the Bird</td>
							<td>@twitter</td>
						</tr> -->
					</tbody>
				</table>
			</div>

		<!-- </div> -->
	</div>
</div>
