<div id="particles-js"></div>
{{#if projects}}
  <div id="projects">
    <div class="container-fluid">
      <h1 class="text-secondary">Projects</h1>
      <hr>
      {{#each projects}}
      <div class="flex-container">
        <a class="card-link" href="/codehat/{{this._id}}" style="text-decoration: none;">
          <div class="card">
            <div class="card-body text-center">
              A
            </div>
            <div class="card-footer">
              {{this.name}}
            </div>
          </div>
        </a>

        <a class="card-link" href="/codehat/{{this._id}}" style="text-decoration: none;">
          <div class="card">
            <div class="card-body text-center">
              B
            </div>
            <div class="card-footer">
              {{this.name}}
            </div>
          </div>
        </a>

        <a class="card-link" href="/codehat/{{this._id}}" style="text-decoration: none;">
          <div class="card">
            <div class="card-body text-center">
              C
            </div>
            <div class="card-footer">
              {{this.name}}
            </div>
          </div>
        </a>

        <a class="card-link" href="/codehat/{{this._id}}" style="text-decoration: none;">
          <div class="card">
            <div class="card-body text-center">
              D
            </div>
            <div class="card-footer">
              {{this.name}}
            </div>
          </div>
        </a>
      </div>
      {{/each}}
    </div>
  </div>
{{else}}
  <div id="codehat-start" class="container px-5 text-center">
    <h1 class="display-4 text-secondary">Welcome to Code Hat</h1>
    <hr>
    <br>

    <div class="container">
      <form class="form-inline text-center justify-content-center" method="post" action="">
        <div class="form-group">
          <input type="text" class="mr-1 form-control" name="project_name" id="project_name" placeholder="Project Name">
          <button type="submit" class="btn btn-outline-success"><i class="fas fa-plus"></i><span> Start New Project</span></button>
        </div>
      </form>
    </div>
  </div>
{{/if}}
<script
  src="/js/codehat-dash.js"
></script>
