<div class="clippy d-none d-xl-block" style="-webkit-clip-path: polygon(93% 0, 100% 0, 100% 100%, 83% 100%); clip-path: polygon(93% 0, 100% 0, 100% 100%, 83% 100%); height: 405px; z-index: 1;"></div>

<div class="clippy d-none d-xl-block" style="-webkit-clip-path: polygon(92% 0, 100% 0, 100% 100%, 82.5% 100%); clip-path: polygon(92% 0, 100% 0, 100% 100%, 82.5% 100%); height: 405px; z-index: 1; background-color: #0d75e894;"></div>

<div class="clippy d-none d-xl-block" style="-webkit-clip-path: polygon(7% 87%, 18% 91%, 33% 100%, 0 100%, 0 59%);
clip-path: polygon(7% 87%, 18% 91%, 33% 100%, 0 100%, 0 59%); height: 405px; z-index: 1;"></div>

<div class="clippy d-none d-xl-block" style="-webkit-clip-path: polygon(7% 85%, 18% 89%, 32% 100%, 0 100%, 0 57%);
clip-path: polygon(7% 85%, 18% 89%, 32% 100%, 0 100%, 0 57%); height: 405px; z-index: 1; background-color: #0d75e894;"></div>

<div class="jumbotron jumbotron-title text-left" style="background-color: #e9ecef4f; box-shadow: 0px 3px 6px 0px #4441412b;">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Community</li>
      </ol>
    </nav>

    <h1 class="display-3 d-none d-sm-block">Community</h1>
    <h1 class="display-4 d-sm-none">Community</h1>
    <hr>

    <a href="/community/post"><p class="lead"><i class="far fa-handshake"></i> Get help from the Code Assist Community today.</p></a>
    <a href="/mentor"><button class="btn btn-outline-primary btn-lg" type="button">Ask a Mentor Instead</button></a>

  </div>
</div>



<div class="container" id="community-body">

  <h1 style="font-weight: 200;">Top Searches <img id="filterLoading" src="/images/loadingwheel.gif" style="width: 50px; display: none;"></h1>
  <hr>

  <form id="search-bar">
    <div class="input-group mb-3 input-group-lg mb-4">
      <input type="text" class="form-control" placeholder="Search" aria-label="Search Bar" autocomplete="off" id="m" style="border-top-left-radius: 36px; border-bottom-left-radius: 36px;">
      <div class="input-group-append">
        <button class="btn btn-outline-primary px-5" type="submit" style="border-top-right-radius: 36px; border-bottom-right-radius: 36px;">Search <i class="fas fa-search"></i></button>
      </div>
    </div>
  </form>

  <div class="d-flex justify-content-between">
    <span class="dropdown">
      <a class="btn btn-primary btn-lg dropdown-toggle" style="border: none;" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Filter By
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="filter dropdown-item" role="menuitem" href="#">Remove Filter</a>
        <a class="filter dropdown-item" role="menuitem" tabindex="-1" href="#">Python</a>
        <a class="filter dropdown-item" role="menuitem" tabindex="-1" href="#">Java</a>
        <a class="filter dropdown-item" role="menuitem" tabindex="-1" href="#">C/C++</a>
        <a class="filter dropdown-item" role="menuitem" tabindex="-1" href="#">HTML</a>
        <a class="filter dropdown-item" role="menuitem" tabindex="-1" href="#">CSS</a>
        <a class="filter dropdown-item" role="menuitem" tabindex="-1" href="#">Javascript</a>
        <div class="dropdown-divider"></div>
        <a class="filter dropdown-item" role="menuitem" tabindex="-1" href="#">General</a>
      </div>
    </span>

{{!--     <span class="dropdown">
      <a class="btn btn-primary btn-lg dropdown-toggle ml-sm-2" style="border: none;" href="#" role="button" id="sortByDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sort By
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="sort dropdown-item" role="menuitem" tabindex="-1" href="#">Date Posted</a>
        <a class="sort dropdown-item" role="menuitem" tabindex="-1" href="#">Popularity</a>
      </div>
    </span>
    <a href="/community/post" class="ml-auto btn btn-info btn-lg d-none d-sm-block">Ask your Question</a> --}}

    <a href="/community/post" class="btn btn-info btn-lg d-none d-sm-block">Ask your Question</a>
    <a href="/community/post" class="btn btn-info btn-lg d-sm-none pl-3 pr-4"><i class="fas fa-plus-circle"></i> Post</a>
  </div>

  <ul id="all-post-container" class="list-group list-group-flush my-5">
    <div id="all-posts">
      {{#each posts}}

        <li id="{{this._id}}" class="list-group-item list-group-item-action lead" style="font-weight: 400;">
          <div style="font-size: 16px;" class="d-none d-sm-block">
            <p class="text-gray pt-2 my-0">asked <span class="moment-timestamp" style="display: none;">{{this.timestamp}}</span> {{this.author}}</p>
          </div>

          <a class="breakWord mb-4" href="/community/{{this._id}}">{{this.question}}</a>
          <br>
          <p class="breakWord quill-content">{{this.descriptionPreview}}</p>
          <div class="ml-auto text-right">
            {{#if this.userLikes}}
            <button class="btn btn-outline-secondary badge-pill p-0 px-2"><span class="badge badge-pill">{{this.likeCount}} <i class="far fa-thumbs-up"></i></span></button>
            {{else}}
            <button class="btn btn-outline-secondary badge-pill p-0 px-2"><span class="badge badge-pill"><i class="far fa-thumbs-up"></i></span></button>
            {{/if}}

            <span class="badge badge-warning badge-pill">{{this.answers.length}} Answers</span>
            <span class="badge badge-primary badge-pill">{{this.prog_lang}}</span>
          </div>
        </li>
      {{/each}}
    </div>
  </ul>

  <button id="getMorePosts" class="mt-1 btn-block btn btn-outline-primary mb-3" {{#unless morePosts}}disabled="disabled"{{/unless}}>Show More</button>
</div>

<script type="text/javascript" src="/js/community-filter.js"></script>
