<body>
  <div class="jumbotron text-center" id="community-title">
    <h1>Community</h1>
    <a href="/community/post"><button class="btn btn-primary" type="button" name="button">Post a Question</button></a>
    <a href="/mentor"><button class="btn btn-warning" type="button" name="button">Ask a Mentor</button></a>
  </div>

  <div class="container" id="community-body">
    <div class="list-group">
      {{#each posts}}
      <a class="list-group-item" href="/community/{{this._id}}">{{this.question}} <span class="badge progress-bar-danger">{{this.answers.length}}</span> <span class="badge">{{this.author}}</span> <span class="badge progress-bar-info">{{this.prog_lang}}</span> </a>
      {{/each}}
    </div>
  </div>
</body>
