<style>
  #answer-editor .ql-editor{
    min-height: 150px;
  }
</style>

<div class="clippy d-none d-xl-block" style="-webkit-clip-path: polygon(0 87%, 100% 81%, 100% 100%, 0% 100%);
clip-path: polygon(0 87%, 100% 81%, 100% 100%, 0% 100%); height: 351px; z-index: 1;"></div>

<div class="jumbotron jumbotron-title text-left" style="background-color: #e9ecef4f; box-shadow: 0px 3px 6px 0px #4441412b;">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="/community">Community</a></li>
        <li class="breadcrumb-item active" aria-current="page">View</li>
      </ol>
    </nav>

    <h1 class="display-3 d-none d-sm-block">{{post.question}}</h1>
    <h1 class="display-4 d-sm-none">{{post.question}}</h1>
    <hr>
    <p style="font-weight: 400;">
      <a href="#flagPost" data-toggle="modal" data-target="#flagPost" class="text-secondary ml-auto"><i class="far fa-flag"></i> Flag Post</a>
    </p>
  </div>
</div>


<div class="container" id="post-body">
  <div class="alert alert-info alert-dismissible fade show d-none" role="alert" id="flag-alert">
    This post has been flagged. The author will be notified.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <p class="text-right"><a href="#answer-editor"><button type="button" name="button" class="btn btn-primary btn-lg">Post an Answer</button></a></p>

  <div id="post-{{post._id}}" class="card border-light bg-light mb-3">
    <div class="card-header">
      <p>{{post.author}}</p>
      <p class="moment-timestamp" style="display: none;">{{post.timestamp}}</p>
      {{#if isowner}}
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default" id="start-codehat">+ Start a CodeHat Project</button>
          <button class="btn btn-danger" id="delete" type="button" name="button">Delete Post</button>
        </div>
      {{/if}}
      <div class="float-right d-inline-flex">
        <p class="likeCounter m-0 mr-2">{{post.likeCount}}</p>
        <button class="likeBtn btn {{#if post.liked}}btn-success{{else}}btn-secondary{{/if}}"><i class="fas fa-thumbs-up"></i></button>
      </div>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{post.question}}</h5>
      <p id="description"><div id="post-view-editor" class="noborder p-0"></div></p>
    </div>

    {{#if post.files}}
    <div class="card-footer">
      <div class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          {{#each post.files}}
          <a class="btn btn-primary" href="/community/file/{{this.fileID}}" role="button">{{this.name}}</a>
          {{/each}}
        </div>
      </div>
    </div>
    {{/if}}
  </div>

  {{#each post.answers}}
  <div id="answer-{{this._id}}" class="card mb-3">
    <div class="card-body">
      <p class="card-text answer-view noborder d-none">{{this.answer}}</p>
    </div>

    <div class="card-footer text-muted">
      Answered <p class="moment-timestamp d-none">{{this.timestamp}}</p>
      {{this.author}}

      <div class="float-right d-inline-flex">
        <p class="likeCounter m-0 mr-2">{{this.likeCount}}</p>
        <button class="likeBtn btn {{#if this.liked}}btn-success{{else}}btn-secondary{{/if}}"><i class="fas fa-thumbs-up"></i></button>
      </div>
    </div>
  </div>
  {{/each}}

  <div class="jumbotron bg-white">
    <form action="/" method="post">
      <div class="form-group">
        <h1 style="font-weight: 200;">Your Answer</h1>
        <hr>
        <div id="answer-editor">

        </div>
      </div>

      <button class="btn btn-outline-primary btn-lg btn-block py-3" id="submit">Post your answer</button>
    </form>
  </div>
</div>

<!-- Flag/reporting post Modal -->
<div class="modal fade" id="flagPost" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form id="flag-post">
      <p hidden id="post-id">{{post._id}}</p>
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><strong>Flag / Report</strong> Post</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <textarea placeholder="Please describe the issue ..." class="form-control" id="post-issue" rows="3"></textarea>
          </div>
        </div>
        <div class="container">
          <button type="submit" class="btn btn-block btn-lg btn-outline-danger mb-2">Submit Report</button>
          <p class="text-secondary">User will be notified</p>
        </div>
      </div>
    </form>
  </div>
</div>

<script type="text/javascript">
  window.onload = function(){
    /* Post Description Viewer (Quill) */
    var postViewEditor = new Quill('#post-view-editor', {
      modules: {
        toolbar: false
      },
      theme: 'snow'
    });

    // console.log("Community description: " + typeof {{{description}}});
    postViewEditor.setContents({{{description}}});
    postViewEditor.disable();

    /* All of the Answers Viewer (Quill) */

    var answerViews = $('.answer-view');
    // console.log("#Answers: " + answerViews.length);
    var postAnswers = [];
    {{#each post.answers}}
    postAnswers.push({{{this.answer}}});
    {{/each}}
    for (var i = 0; i < answerViews.length; i++)
    {
      var answer = answerViews.get(i);
      var quill = new Quill(answer, {
        modules: {
          toolbar: false
        },
        theme: 'snow'
      });
      quill.setContents(postAnswers[i]);
      quill.disable();
    }
    answerViews.show();
    answerViews.removeClass('d-none');


    /*New answer posting editor (Quill)
      Render saved data as well
    */

    var answerEditor = new Quill('#answer-editor', {
      modules: {
        toolbar: [
          [{ header: [1, 2, false] }],
          ['bold', 'italic', 'underline'],
          ['image', 'code-block']
        ]
      },
      theme: 'snow'
    });
    answerEditor.setContents({{{saved}}});

    $('#submit').on('click', function(event) {
      event.preventDefault();
      var answer = JSON.stringify(answerEditor.getContents().ops);
      var post_url = "/community/{{post._id}}/answer";

      $.post(post_url, {answer: answer}, function(url) {
        window.location.replace(url);
      });
    });


    /*
    Moment Date format
    */
    $('.moment-timestamp').each(function() {
      var timestamp = new Date($(this).text());
      timestamp = moment(timestamp, "MM-DD");
      $(this).text(timestamp.format("MMM D"));
      $(this).show();
      $(this).removeClass('d-none');
    });

    $('#delete').on('click', function(event) {
      event.preventDefault();
      var answer2 = JSON.stringify(answerEditor.getContents().ops);
      var post_url2 = "/community/{{post.id}}/delete";
      var thepost='ah';
      $.post(post_url2, {deletedpost:"thepost"}, function(url) {
        window.location.replace(window.location.host + url);
      });
    });

    $('#start-codehat').on('click', function(event) {
      event.preventDefault();
      var stringID = window.location.pathname.split('/');
      stringID = stringID[stringID.length-1];

      $.post('/codehat/' + stringID + '/start-codehat', {postID: stringID}, function(){
        window.location.replace("http://" + window.location.host + "/codehat");
      });
    });

    $('#flag-post').submit(function(event) {
      event.preventDefault();
      $.post('/community/flag-post', {postID: $('#post-id').text(), postDescription: $('#post-issue').text()}, function(data) {
        if(data.auth) {
          $('.modal').modal('hide')
          $('#flag-alert').removeClass('d-none');
        }
      });
    });

    $(".likeBtn").click(function() {
      if ($(this).hasClass("btn-secondary")) {
        $(this).addClass("btn-success");
        $(this).removeClass("btn-secondary");

        var likeCount = Number($(this).siblings(".likeCounter").text());
        $(this).siblings(".likeCounter").text(likeCount + 1);
      } else {
        $(this).addClass("btn-secondary");
        $(this).removeClass("btn-success");

        var likeCount = Number($(this).siblings(".likeCounter").text());
        $(this).siblings(".likeCounter").text(likeCount - 1);
      }

      var id = $(this).parents(".card").attr('id').split('-')[1];
      var type = $(this).parents(".card").attr('id').split('-')[0];
      $.post('/community/like', {type: type, id: id, postID: $('#post-id').text()}, function(data) {
        if (data.url) {
          window.location.replace(data.url);
        }
      });
    });
  }
</script>
