<body>
  <div class="jumbotron jumbotron-title text-center" id="history-title">
    <h1>Conversations</h1>
    <div class="title-buttons">
      <a href="/mentor"><button class="btn btn-primary btn-lg" type="button" name="button">Ask a Mentor</button></a>
    </div>
  </div>

  <div class="container" id="history-body">
    <div class="container btn-group" id="filter-button-body">
      <button id="filter-button" type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown">
        Filter By <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
      </button>

      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu3">
        <li role="presentation"><a class="filter" role="menuitem" tabindex="-1" href="#">Remove Filter</a></li>
        <li role="presentation"><a class="filter" role="menuitem" tabindex="-1" href="#">Python</a></li>
        <li role="presentation"><a class="filter" role="menuitem" tabindex="-1" href="#">Java</a></li>
        <li role="presentation"><a class="filter" role="menuitem" tabindex="-1" href="#">C/C++</a></li>
        <li role="presentation"><a class="filter" role="menuitem" tabindex="-1" href="#">HTML</a></li>
        <li role="presentation"><a class="filter" role="menuitem" tabindex="-1" href="#">CSS</a></li>
        <li role="presentation"><a class="filter" role="menuitem" tabindex="-1" href="#">Javascript</a></li>
      </ul>
    </div>

    <div id="all-post-container" class="container list-group">
      <div  id="all-posts">
        {{#if posts}}
        {{#each posts}}
        <a class="list-group-item" href="/mentor/history/{{this._id}}">{{this.question}} <span class="badge progress-bar-danger">{{this.answers.length}}</span> <span class="badge">{{this.author}}</span> <span class="badge progress-bar-info">{{this.prog_lang}}</span></a>
        {{/each}}
        {{else}}
        <div class="alert alert-info">
          <h2>No posts here! Make a new Post now <a href="/mentor"><button class="btn btn-lg btn-primary">Ask a mentor</button></a></h2>
        </div>
        {{/if}}
      </div>
    </div>
  </div>
  <script type="text/javascript" src="/js/mentor-filter.js"></script>

</body>
