<div class="clippy d-none d-xl-block" style="-webkit-clip-path: polygon(0 85%, 0% 100%, 72% 100%);
clip-path: polygon(0 85%, 0% 100%, 72% 100%); height: 405px; z-index: 1;"></div>

<div class="clippy d-none d-xl-block" style="-webkit-clip-path: polygon(50% 85%, 100% 85%, 100% 100%, 91% 100%);
clip-path: polygon(50% 85%, 100% 85%, 100% 100%, 91% 100%); height: 405px; z-index: 1;     background-color: #0d75e8bd;"></div>

<div class="clippy d-none d-xl-block" style="-webkit-clip-path: polygon(93% 77%, 100% 26%, 100% 100%, 59% 85%);
clip-path: polygon(93% 77%, 100% 26%, 100% 100%, 59% 85%); height: 405px; z-index: 1;"></div>


<div class="jumbotron jumbotron-title text-left" style="background-color: #e9ecef4f; box-shadow: 0px 3px 6px 0px #4441412b;">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Ask a Mentor</li>
      </ol>
    </nav>

    <h1 class="display-3 d-none d-sm-block">Ask a Mentor</h1>
    <h1 class="display-4 d-sm-none">Mentors</h1>
    <hr>

    <a href="/mentor/post"><p class="lead"><i class="fas fa-user-graduate"></i>  Personalized help from experienced Code Assist Mentors</p></a>
    <a href="/community"><button class="btn btn-outline-primary btn-lg" type="button">Ask the Community Instead</button></a>
  </div>
</div>

<div class="container" id="history-body">
  <h1 style="font-weight: 200;">History <img id="filterLoading" src="/images/loadingwheel.gif" style="width: 50px; display: none;"></h1>
  <hr>

  <div class="d-flex justify-content-between">
    <span class="dropdown">
      <a class="btn btn-primary dropdown-toggle btn-lg" style="border: none;" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Filter By
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="filter dropdown-item" role="menuitem" href="#">Remove Filter</a>
        <a class="filter dropdown-item" role="menuitem" tabindex="-1" href="#">Python</a>
        <a class="filter dropdown-item" role="menuitem" tabindex="-1" href="#">Java</a>
        <a class="filter dropdown-item" role="menuitem" tabindex="-1" href="#">C/C++</a>
        <a class="filter dropdown-item" role="menuitem" tabindex="-1" href="#">HTML</a>
        <a class="filter dropdown-item" role="menuitem" tabindex="-1" href="#">CSS</a>
        <a class="filter dropdown-item" role="menuitem" tabindex="-1" href="#">Javascript</a>
        <div class="dropdown-divider"></div>
        <a class="filter dropdown-item" role="menuitem" tabindex="-1" href="#">General</a>
      </div>
    </span>

    <a href="/mentor/post" class="btn btn-info btn-lg d-none d-sm-block">Ask your Question</a>
    <a href="/mentor/post" class="btn btn-info btn-lg d-sm-none pl-3 pr-4"><i class="fas fa-plus-circle"></i> Post</a>
  </div>

  <ul id="all-post-container" class="list-group list-group-flush my-5">
    <div id="all-posts">
      {{#each posts}}
        <li id="{{this._id}}" class="list-group-item list-group-item-action lead" style="font-weight: 400;">
          <div style="position: absolute; top: 5px; right: 5px;">
            <a href="/mentor/post/edit/{{this._id}}"><button type="button" name="button" class="utils answer-edit-btn btn btn-outline-primary py-0"><i class="fas fa-pencil-alt"></i></button></a>
          </div>

          <div style="font-size: 16px;" class="d-none d-sm-block">
            <p class="text-gray pt-2 my-0">asked <span class="moment-timestamp" style="display: none;">{{this.timestamp}}</span> {{this.author}}</p>
          </div>

          <a href="/mentor/{{this._id}}">{{this.question}}</a>
          <p class="w-100">{{this.description}}</p>
          <div class="ml-auto text-right">
            <span class="badge badge-warning badge-pill">{{this.answers.length}} Answers</span>
            <span class="badge badge-primary badge-pill">{{this.prog_lang}}</span>
            {{#if ../userIsMentor}}
              {{#if this.assignedMentor.username}}
                {{#if this.assignedToSelf}}
                  <span class="badge badge-info badge-pill">Assigned to you</span>
                {{else}}
                  <span class="badge badge-info badge-pill">Assigned to {{this.assignedMentor.username}}</span>
                {{/if}}
              {{else}}
                <span class="badge badge-info badge-pill">Post Unassigned</span>
              {{/if}}
            {{/if}}
          </div>
        </li>
      {{/each}}
    </div>
    <button id="getMorePosts" class="mt-1 btn btn-outline-primary" {{#unless morePosts}}disabled="disabled"{{/unless}}>Show More</button>
  </ul>


</div>

<script type="text/javascript" src="/js/mentor-filter.js"></script>
