<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>{{post.question}}</h1>
    <ul>
      {{#each post.answers}}
      <li>{{this.author}}: {{this.answer}}</li>
      {{/each}}
    </ul>
    <form class="" action="{{post._id}}/answer" method="post">
      <textarea name="answer" rows="8" cols="80">{{saved}}</textarea>
      <button type="submit" name="button">Post your answer</button>
    </form>
  </body>
</html>
