<body>
  <div class="jumbotron text-center" id="post-title">
    <h2>{{post.question}}</h2>
  </div>

  <div class="container" id="post-body">
    <div class="list-group">
      <a class="list-group-item list-group-item-action flex-column align-items-start active">
        <div class="d-flex w-100 justify-content-between">
          <small>{{post.author}}</small>
        </div>
        <p class="mb-1">{{post.description}}</p>
        <small>{{post.timestamp}}</small>
      </a>

      {{#each post.answers}}
      <a class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <small>{{this.author}}</small>
        </div>
        <p class="mb-1">{{this.answer}}</p>
        <small>{{this.timestamp}}</small>
      </a>
      {{/each}}
    </div>

    <form class="container" action="{{post._id}}/answer" method="post">
      <div class="form-group">
        <label for="answer-description">Reply</label>
        <textarea class="form-control" name="answer" id="answer-description" rows="3">{{saved}}</textarea>
      </div>
      <button class="btn btn-primary" type="submit">Post your answer</button>
    </form>

  </div>
</body>
