<body>
  <div class="jumbotron jumbotron-title text-center" id="post-title">
    <h2>{{post.question}}</h2>
    <div class="title-buttons">
      <a href="/community/post"><button class="btn btn-primary btn-lg" type="button" name="button">Post a Question</button></a>
      <a href="/community"><button class="btn btn-info btn-lg" type="button" name="button">View All</button></a>
      <a href="/mentor"><button class="btn btn-warning btn-lg" type="button" name="button">Ask a Mentor</button></a>
    </div>
  </div>

  <div class="container" id="post-body">
    <div id="descriptions_answers" class="list-group">
      <a class="list-group-item list-group-item-action flex-column align-items-start active">
        <div class="d-flex w-100 justify-content-between">
          <h3>{{post.question}}</h3>

          <small>{{post.author}}</small>

          {{#if isowner}}
            <a href="/community"><button class="btn btn-danger btn-lg" id="delete" type="button" name="button">Delete</button></a>
          {{/if}}
        </div>
      </a>

      <a class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <p class="mb-1" id="description"><div id="post-view-editor" class="noborder"></div></p>
        </div>
      </a>

      {{#if post.files}}
      <div class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          {{#each post.files}}
          <a class="btn btn-primary" href="/community/file/{{this.fileID}}" role="button">{{this.name}}</a>
          {{/each}}
        </div>
      </div>
      {{/if}}

      <a class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <small class="moment-timestamp">{{post.timestamp}}</small>
          <!-- {{post.timestamp}} -->
        </div>
      </a>

<!-- {{post.description}} -->

    </div>
    <div class="list-group">
      {{#each post.answers}}
      <a class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <small>{{this.author}}</small>
        </div>
        <p class="mb-1"><div class="answer-view noborder"></div></p>
        <small class="moment-timestamp">{{this.timestamp}}</small>
        <!-- {{this.timestamp}} -->
      </a>
      {{/each}}

    </div>

    <form action="/" method="post">
      <div class="form-group">
        <label for="answer-editor">Description</label>
        <div id="answer-editor">

        </div>
      </div>

      <button id="submit" class="btn btn-primary">Post your answer</button>
    </form>

  </div>

  <script type="text/javascript">
    window.onload = function(){
      /* Post Description Viewer (Quill) */
      var postViewEditor = new Quill('#post-view-editor', {
        modules: {
          toolbar: false
        },
        theme: 'snow'
      });

      // console.log("Community description: " + typeof {{{description}}});
      postViewEditor.setContents({{{description}}});
      postViewEditor.disable();

      /* All of the Answers Viewer (Quill) */

      var answerViews = $('.answer-view');
      // console.log("#Answers: " + answerViews.length);
      var postAnswers = [];
      {{#each post.answers}}
      postAnswers.push({{{this.answer}}});
      {{/each}}
      for (var i = 0; i < answerViews.length; i++)
      {
        var answer = answerViews.get(i);
        var quill = new Quill(answer, {
          modules: {
            toolbar: false
          },
          theme: 'snow'
        });
        quill.setContents(postAnswers[i]);
        quill.disable();
      }


      /*New answer posting editor (Quill)
        Render saved data as well
      */

      var answerEditor = new Quill('#answer-editor', {
        modules: {
          toolbar: [
            [{ header: [1, 2, false] }],
            ['bold', 'italic', 'underline'],
            ['image', 'code-block']
          ]
        },
        theme: 'snow'
      });
      answerEditor.setContents({{{saved}}});

      $('#submit').on('click', function(event) {
        event.preventDefault();
        var answer = JSON.stringify(answerEditor.getContents().ops);
        console.log($(location).attr('pathname'));
        var post_url = "/community/{{post.id}}/answer";

        $.post(post_url, {answer: answer}, function(url) {
          /* Would be nice to have the page not reload after answer submission
             but due to code minimization and time constraints,
             we deem it necessary to reload the page*/

          // var newAnswer = `
          // <a class="list-group-item list-group-item-action flex-column align-items-start">
          // <div class="d-flex w-100 justify-content-between">
          // <small></small>
          // </div>
          // <p class="mb-1"></p>
          // <small></small>
          // </a>
          // `;
          //
          // $("#descriptions_answers").append(newAnswer);
          // console.log("Answer Saved");
          window.location.replace(url);
        });
      });


      /*
      Moment Date format
      */
      $('.moment-timestamp').each(function() {
        var timestamp = new Date($(this).text());
        timestamp = moment(timestamp, "MM-DD");
        $(this).text("Posted " + timestamp.format("MMM D"));
      });

      $('#delete').on('click', function(event) {
        var answer2 = JSON.stringify(answerEditor.getContents().ops);
        var post_url2 = "/community/{{post.id}}/delete";
        var thepost='ah';
        $.post(post_url2, {deletedpost:"thepost"}, function(url2) {
        });
      });

    }

  </script>
</body>
