{{#if projects}}
  <div id="projects" {{#if expanded}}style="margin-left: 350px;"{{/if}}>
    <div class="container-fluid" style="height: 100vh;">
      <h1 class="text-secondary">Projects</h1>
      <hr>
      <div class="flex-container">
        {{#each projects}}
        <a class="card-link" href="/projects/{{this._id}}/" style="text-decoration: none;">
          <div class="card">
            <div class="card-body text-center">
              <div class="thumbnailLetter">{{this.thumbnail}}</div>
              <div class="thumbnail-container">
                <div class="thumbnail">
                 <iframe src="/projects/{{this._id}}/?thumbnail=true" frameborder="0" onload="this.style.opacity = 1"></iframe>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="project-name">
                {{this.name}}
              </div>
              <!-- <br> -->
              <div class="project-info text-light hide" style="font-size: 12px;">
                <div class="owner">
                  Owner: {{this.owner.username}}
                </div>

                <div class="date-modified">
                  Last Modified: <span class="moment-timestamp">{{this.last_modified}}</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        {{/each}}
      </div>
    </div>
  </div>
{{else}}
  <div id="projects-start" class="mt-5 pt-5 container-fluid text-center pr-5" style="user-select: none; margin-left: 75px;">
    <h1 class="display-4 text-secondary">Welcome to Projects <i class="fas fa-project-diagram"></i></h1>
    <!-- <hr> -->
    <br>

    <div class="container pt-5">
      <h5 style="font-weight: 400;" class="text-primary mb-3"><span>New to Code Assist? </span>Collaborate on a problem with a mentor or friend today</h5>

      <form class="createNewProject form-inline justify-content-center">
        <div class="container">
          <div class="form-group row w-75 mx-auto">
            <div class="col">
              <input type="text" class="mr-1 form-control btn-lg w-100" name="project_name" id="project_name" maxlength="25" placeholder="Project Name" autocomplete="off" required>
              <div class="invalid-feedback text-left">
                Invalid project name.
              </div>
            </div>

            <div class="col">
              <button type="submit" class="btn btn-primary btn-lg w-100"><i class="fas fa-plus"></i><span> Start New Project</span></button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
{{/if}}
