<style>
  .qualities .col {
    max-width: 100px;
  }

  .qualities .col * {
    user-select: none;
  }
</style>

<div class="jumbotron bg-white text-bottom pb-0 d-md-none border-bottom rounded-0" style="">
  <div class="d-flex" style="align-items: flex-end">
    <div class="col-sm">
      {{#if profile.firstName}}
        <h3 class="mt-5" style="font-weight: 300;">{{profile.firstName}} {{profile.lastName}}</h3>
        <p style="font-weight: 100;">@{{profile.username}}</p>
      {{else if profile.lastName}}
        <h3 class="mt-5" style="font-weight: 300;">{{profile.firstName}} {{profile.lastName}}</h3>
        <p style="font-weight: 100;">@{{profile.username}}</p>
      {{else}}
        {{#if viewing}}
        <h3 class="mt-5" style="font-weight: 300;">Add First and Last name</h3>
        <p style="font-weight: 400;">@{{profile.username}}</p>
        {{else}}
        <h3 style="font-weight: 200;">@{{profile.username}}</h3>
        {{/if}}
      {{/if}}
    </div>

    <div class="text-center my-3 mb-4">
      <img src="{{profile.pic}}" alt="Profile Picture" style="width: 100%; max-width: 170px;">
    </div>
  </div>
</div>

<div class="container d-none d-md-block">
  <div class="jumbotron bg-light text-bottom pb-1" style="max-height: 200px;">
    <div class="row">
      <div class="col-sm-3 bg-white rounded d-none d-md-block" style="height: 500px; box-shadow: 0px 2px 9px 2px #eee; z-index: 1;">
        <div class="text-center my-3 mb-4">
          <img src="{{profile.pic}}" alt="Profile Picture" style="width: 100%; max-width: 220px;">
        </div>

        {{#if profile.bio}}
          <div class="text-muted w-100 container" style="font-size: 16px; word-wrap: break-word; user-select: none;">{{profile.bio}}</div>
        {{else}}
          {{#if viewing}}
          <p class="text-secondary text-center" style="font-size: 20px;"><a href="/account#bio-textarea">Add a bio</a></p>
          {{/if}}
        {{/if}}
      </div>

      <div class="col-sm">
        {{#if profile.firstName}}
          <h3 class="mt-5" style="font-weight: 300;">{{profile.firstName}} {{profile.lastName}}</h3>
          <p style="font-weight: 100;">@{{profile.username}}</p>
        {{else if profile.lastName}}
          <h3 class="mt-5" style="font-weight: 300;">{{profile.firstName}} {{profile.lastName}}</h3>
          <p style="font-weight: 100;">@{{profile.username}}</p>
        {{else}}
          {{#if viewing}}
            <h3 class="mt-5" style="font-weight: 300;"><a href="/account#first-name">Add First and Last name</a></h3>
            <p style="font-weight: 400;">@{{profile.username}}</p>
          {{else}}
            <h3 style="font-weight: 200;">@{{profile.username}}</h3>
          {{/if}}
        {{/if}}
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-3 d-none d-md-block mr-5">

    </div>

    <div class="col-sm-8 p-3">
      <div class="container">
        <div class="row qualities">
          <div class="col py-3 mx-auto">
            <h5 class="level"><span class="prize"><i class="fas fa-medal" hidden></i></span><br>{{profile.qualities.rank}}</h5>
          </div>

          <div class="col py-3 mx-auto">
            <h5><i class="far fa-list-alt"></i> {{profile.numPosts}}<br>posts</h5>
          </div>

          <div class="col py-3 mx-auto">
            <h5><i class="far fa-thumbs-up"></i> {{profile.numPosts}}<br>likes</h5>
          </div>

          <div class="col py-3 mx-auto">
            <h5><i class="far fa-hand-peace"></i> {{profile.qualities.assists}}<br>assists</h5>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<script>
  window.onload = function() {
    var rankColor = "{{profile.qualities.rank}}";
    var level = $('.level');
    var prize = $('.prize');
    if(rankColor == "bronze") {
      level.css({'color':'#d06f10'});
      prize.children().attr('hidden', false);
    }else if(rankColor == "silver") {
      level.css({'color':'#9e9e9e'});
      prize.html('<i class="fas fa-award"></i>');
    }else if (rankColor == "gold"){
      level.css({'color':'#ffc107'});
      prize.html('<i class="fas fa-trophy"></i>');
    }else if (rankColor == "platinum"){
      level.css({'color':'#007bff'});
      prize.html('<i class="fas fa-user-tie"></i>');
    }
  }
</script>
