<div id="editorContainer">
		<div class="ui-layout-center">
			<div id="code-editor" class="d-flex flex-column">
				{{#unless isThumbnail}}
				<div id="topBar">
					<label class="btn btn-primary mb-0">
						Upload File<input id="fileUpload" type="file" accept=".java,.py,.cpp,.dat,.txt,.html,.css,.js" hidden>
					</label>
					<button id="newFileBtn" class="btn btn-primary">New File</button>
					<a id="downloadFileBtn" class="btn btn-primary disabled" href="#">Download File</a>
					<a id="downloadAllFiles" class="btn btn-primary" href="downloadAll">Download Project as .ZIP</a>
				</div>
				{{/unless}}

				<ul class="nav nav-tabs" id="fileTabs">

				</ul>

				<div class="row">
					<div class="col-sm" id="editor"></div>
					<div class="col-sm" id="previewContainer" style="display: none;">
						<iframe id="htmlPreview" {{#if isThumbnail}}sandbox="allow-forms allow-pointer-lock allow-same-origin allow-scripts"{{/if}}></iframe>
						<a id="htmlPreviewNewWindow" target="_blank" class="btn btn-primary"><i class="fas fa-external-link-alt"></i></a>
					</div>
				</div>

				<div class="row" style="height: 0">
					<div class="col-6">
						<button class="btn btn-primary" id="htmlRun" style="display: none;">Run</button>
					</div>
				</div>
			</div>
		</div>

		{{#unless isThumbnail}}
		<div class="ui-layout-south">
			 <!-- <textarea id="output" readonly autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></textarea>
			<form id="programInputForm">
				<input disabled id="programInput" type="text" autocomplete="off">
			</form> -->
			<div id="terminal">

			</div>
			<div id="buttons">
				<button class="btn btn-primary" id="run">Run</button>
				<img id="loadingWheel" src="/projects/images/spinner.gif" style="display: none;">
			</div>
		</div>

		<div class="ui-layout-east">
			<div id="chat" class="container video-chat-view mt-5">
				<div class="card">
					<div class="card-header">
						Group Chat
					</div>

					<div class="card-body">
						<div id="group-chat">
							<ul id="all-messages" class="p-0">
								{{#each project.chatHistory}}
									<li class="bg-light rounded my-3 py-2 mx-2 pl-2">
										<h6 class="text-secondary"><b>{{author}}</b></h6>
										<p style="margin: 0;">{{message}}</p>
									</li>
								{{/each}}
							</ul>
							<script type="text/javascript">
								var objDiv = document.getElementById("all-messages");
								objDiv.scrollTop = objDiv.scrollHeight;
							</script>

							<form id="send-message-form">
								<div class="input-group">
									<input id="msg" autocomplete="off" type="text" class="form-control" placeholder="Group Message" aria-label="Group Message" aria-describedby="button-addon2">
									<div class="input-group-append">
										<button class="btn btn-outline-primary" type="submit">Send</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>

		</div>
		{{/unless}}
</div>

<!-- <div id="editorContainer" class="container-fluid">

</div> -->

<!-- Settings Section -->
<!-- <i id="close-settings" class="far fa-times-circle"></i> -->
{{#unless isThumbnail}}
<div id="settings" {{#if isNew}}{{else}}{{#if popup}}{{else}} style="display: none;" {{/if}}{{/if}}>
	<div id="box" class="mx-auto p-5" style="max-width: 1100px;">
		{{#unless ismentor}}
		<div id="sharing" class="mb-5">

			<h1 class="title mb-4" style="font-weight: 200;">Invite Members to<input id="change-project-name" type="text" class="form-control" value="{{project.name}}" style="
				    display: inline;
				    vertical-align: baseline;
				    font-weight: 400;
						width: auto;
						font-size: inherit;
						border: none;
						/* width: 250px; */
			" required maxlength="25">
			</h1>

			<hr>
			<div class="container">
				<form id="share-project" novalidate>
					<div class="form-group">
						<div class="row">
							<div class="col-sm-10 offset-sm-1">
								<label for="exampleInputEmail1" style="font-weight: bold;">Email or Username <span class="badge badge-primary" style="vertical-align: top;">New</span></label>
							</div>
						</div>

						<div class="row mb-2">
							<div class="col-sm-10 offset-sm-1">
								<input id="exampleInputEmail1" type="text" class="form-control" name="credentials" aria-describedby="emailHelp" required>
								<div class="text-danger invalid-feedback">
				          Member not found.
				        </div>
							</div>
						</div>

						<div id="send-options" class="row">
							<div class="col-sm-3 offset-sm-1">
								<div id="add-more-inputs"><i class="fas fa-plus-circle"></i> Add More</div>
							</div>

							<div class="col-sm-7">
								<button class="btn btn-success ml-auto" type="submit" name="button" style="display: block !important;"><i class="fas fa-paper-plane"></i> Send Invitations</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		{{/unless}}

			<!-- <div id="members"> -->
			<h1 style="font-weight: 200;" id="members">Members with Access</h1>
			<hr>
			<div class="container">
				<div class="jumbotron container w-75 bg-light" style="max-height: 500px; overflow-y: scroll;">
					{{#if isowner}}
						<div class="row mb-3">
							<div class="col-sm-4 offset-sm-2">
								<div class="d-flex" style="font-size: 16px;">
									<a href="/users/profile/{{project.owner.id}}" target="_blank"><div class="profile-pic" style="background-image: url({{project.owner.pic}});"></div></a>
									<div class="ml-2">
										<p class="m-0"><span class="prize" hidden>{{project.owner.qualities.rank}}</span>{{project.owner.username}}</p>
									</div>
								</div>
							</div>

							<div class="col pt-3">
								<div class="dropdown">
									<button type="button" class="btn btn-primary dropdown-toggle" id="transfer-ownership-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" {{#unless project.usersWithAccess}}disabled {{/unless}}>Transfer Ownership</button>
									{{#if project.usersWithAccess}}
										<div class="dropdown-menu" aria-labelledby="transfer-ownership-button">
												{{#each project.usersWithAccess}}
													<a class="transfer-ownership dropdown-item" href="#" id="{{this.id}}" data-toggle="modal" data-target="#transfer-ownership-modal">{{this.username}}</a>
												{{/each}}
										</div>
									{{/if}}
								</div>
							</div>
						</div>

						{{#each users}}
						<div class="row mb-3">
							<div class="col-sm-4 offset-sm-2">
								<div class="d-flex" style="font-size: 16px;">
									<a href="/users/profile/{{this.id}}" target="_blank"><div class="profile-pic" style="background-image: url({{this.pic}});"></div></a>
									<div class="ml-2">
										<p class="m-0"><span class="prize" hidden>{{this.qualities.rank}}</span>{{this.username}}</p>
									</div>
								</div>
							</div>

							<div class="col pt-3">
								<button class="btn btn-danger delete-user-btn" type="button" name="{{this.id}}" data-toggle="modal" data-target="#delete-user-modal">Delete User <span class="name" hidden>{{this.username}}</span></button>
							</div>
						</div>
						{{/each}}

					{{else}}
						<div class="row mb-3">
							<div class="col-sm-4 offset-sm-2">
								<div class="d-flex" style="font-size: 16px;">
									<a href="/users/profile/{{project.owner.id}}" target="_blank"><div class="profile-pic" style="background-image: url({{project.owner.pic}});"></div></a>
									<div class="ml-2">
										<p class="m-0"><span class="prize" hidden>{{project.owner.qualities.rank}}</span>{{project.owner.username}}</p>
									</div>
								</div>
							</div>

							<div class="col pt-3">
								<strong>Owner</strong>
							</div>
						</div>

						{{#each users}}
						<div class="row mb-3">
							<div class="col-sm-4 offset-sm-2">
								<div class="d-flex" style="font-size: 16px;">
									<a href="/users/profile/{{this.id}}" target="_blank"><div class="profile-pic" style="background-image: url({{this.pic}});"></div></a>
									<div class="ml-2">
										<p class="m-0"><span class="prize" hidden>{{this.qualities.rank}}</span>{{this.username}}</p>
									</div>
								</div>
							</div>

							<div class="col pt-3">
								<!-- <button class="btn btn-danger" type="button" name="button">Delete User</button> -->
							</div>
						</div>
						{{/each}}
					{{/if}}
				</div>

				{{#unless isowner}}
				<div class="container text-center">
					<button class="btn btn-outline-danger w-75" type="button" name="button" data-toggle="modal" data-target="#leave-project-modal">Leave Project</button>
				</div>
				{{/unless}}

			</div>
			<br>
			<br>

			{{#if isowner}}
			<!-- DANGER ZONE -->
			<h1 style="font-weight: 200;">Danger Zone</h1>
			<hr>

			<div class="container">
				<div class="row">
					<div class="col-sm-8 offset-sm-1">
						<h4><b>Delete this Project</b></h4>
						<p>This action will permanently delete this project</p>
					</div>

					<div class="col-sm-2">
						<button type="button" name="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-project-modal">Delete Project</button>
					</div>
				</div>
			</div>
			{{/if}}

		<!-- </div> -->
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="delete-project-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<form id="delete-project-confirm">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel"><b>Do you really want to delete the project?</b></h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="alert alert-warning" role="alert">
				  	This action <b>cannot</b> be undone
					</div>

					<p>This action will permanently remove the <b>{{project.name}}</b> project from all systems</p>
					<p>You will <b>not</b> be able to restore the project</p>
					<label for="#confirm-project-name">Please type the name of the project to confirm</label>
					<input id="confirm-project-name" type="text" name="projectName" autocomplete="off" class="form-control" required>
					<div class="text-danger invalid-feedback">
						Invalid project name.
					</div>

				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-danger btn-block">I undestand the consequences, Delete the project</button>
				</div>
			</div>
		</form>
	</div>
</div>
{{/unless}}

<!-- Modal -->
<div class="modal fade" id="transfer-ownership-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<form id="delete-project-confirm">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel"><b>Transfer Ownership</b></h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>This action will transfer the ownership to <strong><span class="recipient"></span>.</strong></p>
					<p class="text-muted">You will no longer be an owner of this project.</p>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-danger btn-block" id="confirm-transfer">Confirm</button>
				</div>
			</div>
		</form>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="delete-user-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<form id="delete-project-confirm">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel"><b>Remove User Access</b></h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>This action will remove the user <strong><span class="recipient"></span></strong> from this project.</p>
					<p class="text-muted">The user will no longer be able to View or Edit this project.</p>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-danger btn-block" id="delete-user-confirm">Confirm</button>
				</div>
			</div>
		</form>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="leave-project-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<form id="delete-project-confirm">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel"><b>Are you sure?</b></h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>This action will remove you from the project <strong>{{project.name}}.</strong></p>
					<p class="text-muted">You will no longer be able to View or Edit this project. You may ask the owner of to regain access to this project.</p>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-danger btn-block" id="leave-project-confirm">I would like to leave this project.</button>
				</div>
			</div>
		</form>
	</div>
</div>

<!-- File Name Taken modal -->
<div id="file-name-taken-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="color: red; font-weight: bold;">File Name Already In Use</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>A file with the same name already exists. Please rename the existing file or the file you're uploading.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>

<!-- Disconnection with server error -->
<div id="disconnection-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="color: red; font-weight: bold;">Unable to reach server</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Please backup any recent changes you have made to your project files and refresh the page to ensure that you work is saved.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>
